body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-montserrat: Montserrat;
  --font-poly: Poly;

  /* font sizes */
  --font-size-mini: 15px;
  --font-size-13xl: 32px;
  --font-size-lg: 18px;
  --font-size-xl: 20px;
  --font-size-14xl-7: 33.7px;
  --font-size-5xl: 24px;
  --font-size-45xl: 64px;
  --font-size-lgi-9: 19.9px;
  --font-size-3xl-2: 22.2px;

  /* Colors */
  --color-white: #fff;
  --color-darkslategray: #2d2d2d;
  --color-orange-100: #f89b29;
  --color-deeppink: #ff0f7b;
  --color-gainsboro: #d9d9d9;

  /* Gaps */
  --gap-9xl: 28px;
  --gap-3xs: 10px;

  /* Paddings */
  --padding-7xs-8: 5.8px;

  /* border radiuses */
  --br-xl-8: 20.8px;
  --br-6xl-7: 25.7px;
}
